<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.cofin.oracle.mappers.PublisherMapper">
	<insert id="save" parameterType="shop.cofin.oracle.publishers.domain.PublisherDTO">
		insert into 
		publishers (pub_id, pub_name, mgr_name, phone) 
		values (${pubId},#{pubName},#{mgrName},#{phone})
	</insert>	
	<select id="findAll" resultType="shop.cofin.oracle.publishers.domain.PublisherDTO" >
		select
			pub_id pubId,
			pub_name pubName,
			mgr_name mgrName,
			phone
		from publishers
	</select>

</mapper>